.col-1 {
    float: left;
    width: 8.33333333%;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-2 {
    float: left;
    width: 16.6666%;
  }
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-3 {
    float: left;
    width: 25%;
  }
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-4 {
    float: left;
    width: 33.333%;
  }
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-5 {
    float: left;
    width: 41.667%;
  }
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-6 {
    float: left;
    width: 50%;
  }
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-7 {
    float: left;
    width: 58.333%;
  }
 
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-8 {
    float: left;
    width: 66.667%;
  }
 
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-9 {
    float: left;
    width: 75%;
  }
 
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-10 {
    float: left;
    width: 83.333%;
  }
 
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-11 {
    float: left;
    width: 91.667%;
  }
 
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 
  .col-12 {
    float: left;
    width: 100%;
  }
 
  .row:before {
    display: table;
    content: "";
  }
  
  .row:after {
    display: table;
    content: "";
    clear: both;
  } 